* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Paleta principal */
:root {
    --negro: rgb(18, 18, 18);
    --rosa-oscuro: rgb(205, 92, 92);
    --rosa: rgb(255, 182, 193);
    --rosa-claro: rgb(255, 218, 224);
    --boton-descargar: var(--blanco); /* Botones blancos */
    --boton-borde: var(--rosa-oscuro); /* Bordes de botones */
    --color-hover: #f48fb1; /* Hover */
    --violeta-vibrante: rgb(190, 10, 255);
    --violeta: rgb(98, 0, 238);
    --lila-oscuro: rgb(152, 94, 255);
    --lila: rgb(187, 134, 252);
    --lila-claro: rgb(219, 178, 255);
    --blanco-lila: rgb(242, 231, 254);
    --blanco: rgb(255, 255, 255);
    --gris-muy-claro: rgb(248, 249, 250);
    --gris-oscuro: rgb(52, 58, 64);
    --negro-gris: rgb(33, 37, 41);
    --fondo-principal: var(--rosa-claro);
}

/* Modo oscuro */
.modo-oscuro {
    --color-fondo: var(--gris-oscuro); /* Fondo general */
    --color-texto: var(--blanco-lila); /* Texto principal claro */
    --color-texto-claro: var(--gris-muy-claro); /* Texto secundario */
    --color-placeholder: var(--gris-oscuro); /* Placeholder */
    --nav-color: var(--negro-gris); /* Navbar oscuro */
    --menu-imagen: var(--rosa-oscuro); /* Imagen del menú */
    --menu-texto: var(--lila); /* Texto del menú */
    --filtro-rango: var(--rosa); /* Filtro rosado */
    --color-hover: var(--gris-claro); /* Hover en gris claro */
    --meme-texto: var(--blanco-lila); /* Texto en memes */
    --boton: var(--blanco); /* Botón con fondo blanco */
    --boton-borde: var(--negro); /* Bordes negros */
    --boton-texto: var(--negro); /* Texto negro */
    --boton-reestablecer: var(--blanco); /* Botón de reestablecer */
    --background-nav: url(../img/carita_navbar.png); /* Imagen del navbar */
    --boton-descargar: var(--blanco); /* Botón descargar */
}


footer {
    background-color: var(--color-fondo); /* Color de fondo */
    color: var(--color-texto); /* Color del texto */
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


/* Modo claro */
.modo-claro {
    --color-fondo: var(--rosa-claro); /* Fondo general rosado */
    --color-texto: var(--blanco); /* Texto principal en blanco */
    --color-placeholder: var(--rosa-oscuro); /* Placeholder rosado oscuro */
    --color-texto-panel: var(--blanco-lila); /* Texto en paneles */
    --nav-color: var(--rosa-oscuro); /* Navbar rosado intenso */
    --menu-imagen: var(--lila-claro); /* Imágenes del menú en lila claro */
    --menu-texto: var(--rosa); /* Texto del menú rosado */
    --filtro-rango: var(--rosa-oscuro); /* Color de filtro */
    --meme-texto: var(--blanco); /* Texto en memes */
    --color-hover: var(--rosa); /* Efecto hover en rosado */
    --boton: var(--blanco); /* Botones blancos */
    --boton-borde: var(--rosa-oscuro); /* Borde de los botones rosado intenso */
    --boton-reestablecer: var(--blanco-lila); /* Botón para reestablecer */
    --background-nav: url(../img/carita_navbar.png); /* Imagen del navbar */
    --boton-descargar: var(--rosa-claro); /* Botón de descargar */
}


body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Roboto', sans-serif;
}


h1 {
    text-align: center;
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
    height: 25%;
    font-size: 2.5rem;
    color: var(--color-texto);

}

h2 {
    margin: .5rem;
}
nav {
    /* display: flex; */
    height: 150px;
    background-color: var(--nav-color);
    background-image: var(--background-nav);
    background-repeat: no-repeat;
    background-size: contain;
    
}


nav ul {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 1.2rem;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    color: var(--color-texto);
}


.btn-nav {
    margin: .5rem;
    padding: 0.7rem;
    background-color: var(--boton);
    border-radius: 25px;
    font-size: 1rem;
    border: solid var(--boton-borde);
}

.btn-nav:hover {
    background-color: var(--color-hover);
    transition: 1ms;
    cursor: pointer;
}


/* END OF NAV */

/* SECCION MEME */

#meme-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
    flex-grow: 1;
    background-size: cover;

}
#meme-generador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    position: relative;
    background-color: var(--negro);
}

.meme-generador-texto {
    background-color: var(--meme-texto);
    color: var(--color-texto);
}

.meme-imagen {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start; 
    background-position: center center;
    background-size: cover;
    
}
.meme-generador-texto {
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.filtro-rango {
    accent-color: var(--filtro-rango);
    padding: .2rem;
    display: flex;
    flex-direction: column;
}


.boton-contenedor {
   display: flex;
   flex-direction: column;
   padding: 0.2rem;
}

 /* Estilo para el botón */
 #boton-descargar {
    align-items: center;
    display: inline-block;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--boton-descargar); /* Fondo rosado pastel */
    border: 2px solid var(--boton-borde); /* Borde rosado */
    color: var(--boton-borde); /* Texto en el mismo color que el borde */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 60px; /* Centrado vertical */
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Efecto hover */
  #boton-descargar:hover {
    background-color: var(--color-hover); /* Fondo rosado más oscuro al pasar el ratón */
    color: rgb(224, 165, 211); /* Color claro para el texto al hacer hover */
  }
/* SECCION IMAGEN */

.seccion-imagen {
    height: 100%;
    width: 300px;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    right: 0;
    top: 0;
    align-self: flex-end;
    position: absolute;
   background-color: var(--menu-imagen);
   color: var(--color-texto-claro);

}

.meme-imagen {
    background-repeat: round;
    background-image: contain;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-repeat: no-repeat;
}
/* SECCION TEXTO */

.seccion-texto {
height: 100%;
width: 300px;
padding: 2rem;
display: flex;
justify-content: flex-start;
flex-direction: column;
right: 0;
top: 0;
align-self: flex-end;
position: absolute;
background-color: var(--menu-texto);
color: var(--color-texto);

}

.label-texto {
    font-size: 1.2rem;
    margin: .5rem;
    padding: .2rem;
    font-weight: 600;
}

.sin-texto {
    margin: .4rem;
}

.oculto {
 display: none;
}

#tipografia {
    width: 100%;
    padding: .3rem 0;
    margin: .3rem 0;
    border-radius: 10px;
}

#tamanio-alineado {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: .2rem 0;
    height: 100%;
    width: 160%;
}

#tamano-fuente {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    padding: .2rem;
}

.botones-alineacion {
    width: 100%;
    border-radius: 10px;

}

.btn-alineacion {
    padding: .2rem;
    font-size: 1rem;
   
}

.btn-alineacion:hover {
    background-color: var(--color-hover);
}

.fas {
    padding: .3rem;
}

.boton-cerrar {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 40px;
    font-weight: 1200;
    border-radius: 25px;
    padding: 0.3rem;

}

.boton-cerrar:hover {
    background-color: var(--boton);
}

.colores {
    display: flex;
    gap: 20px;
    padding: .5rem;
}
.color-seccion-texto {
    display: flex;
    flex-direction: column;
}

.texto {
    padding: .5rem;
    border-radius: 10px;
    margin: .2rem;
}
.meme-generador-texto {
    color: black;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#fondo-transparente {
    margin: .5rem;
}

.fondo-transparente {
    background-color: transparent;
}

.contorno-claro {
    text-shadow: 4px 4px 2px rgba(255,255,255,1);

}

.contorno-oscuro {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}

#boton-reestablecer{
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    color: var(--azul-oscuro);
    font-weight: bolder;
    background-color: var(--boton-reestablecer);
}

#boton-reestablecer:hover{
    background-color: var(--color-hover);
}

#url {
    padding: 1rem;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 2rem;
}

input::placeholder{
    color: var(--color-placeholder);
}

#seleccion-color-fondo{
    display: flex;
   justify-content: space-around;
   margin: 0.5rem;
   gap: 1rem;
}
    
 #color-fondo-meme {
    flex-direction: column;
    width: 40%;
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
    border: none;
    appearance: none;
    padding: 0.2rem;
}

#color-fondo-meme:hover {
    cursor: pointer;
}
#efecto-preestablecido {
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    border-radius: 25px;
    height: 100%;
}

/* MEDIA QUERIES */

/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {

    #meme-contenedor{
        width: 80vw;
        height: 60vh;
        margin: 2rem;
    }
    
  }

  /*CELULAR*/

  @media (min-width: 320px) and (max-width: 480px) {
    #meme-contenedor{
        width: 50%;
        height: 80vh;
        margin: 2rem;
    }

    .seccion-imagen {
        width: 50%;
    }
    
    .seccion-texto {
        width: 50%;
    }

    nav {
        background-image: none;
    }
  }

  